.centrado{
    text-align: center;
}

.bandera{
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 5px;
}

.header{
    background-color:rgba(138,168,158);
    border-radius: 0px 0px 30px 30px;
}

.fotoEntrada{
    width: 100%;
    border-radius: 25px 25px 25px 25px;
    border: solid 1px black;
}

.nav-link{
    color: rgb(214,214,214);
    font-weight: bold;
}

hr{
    color: rgb(40,68,75);
    height: 3px;
    opacity: 1;
}

.titulo{
    font-size:x-large;
    color: rgb(40,68,75);
}

.seccion{
    font-size:large;
    color: rgb(40,68,75);
    font-weight: bold;
}

.subSeccion{
    color:rgb(40,68,75);
    font-size:medium;
    font-weight: bold;
}

.precio{
    color: rgb(40,68,75);
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:  rgb(187, 168, 139);
}

.smallHr{
    color: black;
    width: 50%; 
    margin: 0 25% 0 25%;
}

.cajaMain{
    background-color: rgb(224,216,197);
    border-radius: 10px;
    width: 95%;
    display: inline-block;
    border: 1px solid black;
}

.cajita{
    background-color: rgb(138, 168, 158);
    border-radius: 10px;
    margin-bottom: 5px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
}

.cajitaSecundaria{
    background-color: rgb(138, 168, 158);
    border-radius: 10px;
    margin-bottom: 5px;
    border-radius: 0px 0px 0px 0px;
    border-top: 1px solid black;
}

table{
    margin-left: auto;
    margin-right: auto;
}

td{
    text-align: left;
    padding: 4px;
}

tr :nth-child(2n), tr :nth-child(3n){
    color: rgb(40,68,75);
} 
