<ul class="nav justify-content-center header">
  <li class="nav-item ">
      <a class="nav-link" href="/catalan"><img src="../assets/catalan.png" class="bandera">Carta en Catalá</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/castellano"><img src="../assets/espana.png" class="bandera">Carta en Español</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/informacion"><img src="../assets/info.png" class="bandera">Información</a>
  </li>
</ul>
<router-outlet></router-outlet>